nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: 2em;
  height: 2.5em;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

body {
  margin: 0px;
  height: auto;
  min-height: 100vh;
}

.main-structure {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: inherit;
}

.black-background {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-grow: 93;
  flex-basis: 0;
}

.core-list {
  background-color: rgb(91, 185, 223);
}

.tech-list {
  background-color: rgb(250, 118, 29);
}

.blog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}
.core {
  background-color: rgb(91, 185, 223);
  width: 80%;
}
.tech {
  background-color: rgb(250, 118, 29);
  width: 80%;
}
.core-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  flex-grow: 7;
  flex-basis: 0;
}
.tech-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 136, 46);
  flex-grow: 7;
  flex-basis: 0;
}

.special-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 136, 46);
  flex-grow: 3.5;
  flex-basis: 0;
}

.title {
  margin: 0;
}

.blog-item,
.blog-item:hover,
.blog-item:focus,
.blog-item:active {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 2% 1% 2%;
  height: 10%;
  border-radius: 10px;
  border-color: rgb(221, 221, 221);
  border-width: 5px;
  border-style: solid;
  font-size: 300%;
}

.core-item {
  background-color: skyblue;
  border-color: rgb(95, 204, 247);
}
.tech-item {
  background-color: rgb(247, 136, 46);
  border-color: rgb(238, 155, 107);
}

.link {
  text-decoration: none;
  text-decoration-color: blue;
  color: blue;
}

.link:active {
  text-decoration-color: yellow;
  color: yellow;
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: blue;
  color: blue;
}

.blog-list-top,
.blog-list-top:hover,
.blog-list-top:focus,
.blog-list-top:active {
  margin-top: 2%;
}
a,
a:hover,
a:focus,
a:active {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
}

.back,
.back:hover,
.back:focus,
.back:active {
  position: absolute;
  height: 3vh;
  padding: 2vh;
}

.long-body {
  height: 200vh;
}

.text {
  margin-top: 5%;
}

.absolute {
  background-color: skyblue;
  position: absolute;
  height: 13%;
  width: 10%;
  margin: 12% 0 0 22%;
  padding-top: 0.5%;
  text-align: center;
  z-index: 1;
}

.relative {
  position: relative;
  height: 7%;
  width: 10%;
  margin-left: 20%;
  padding-top: 1%;
  text-align: center;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.fixed {
  background-color: skyblue;
  position: fixed;
  height: 10%;
  width: 10%;
  margin: 5% 0 0 10%;
  padding-top: 2.5%;
  text-align: center;
  z-index: 5;
}
.core-back {
  background-color: rgb(46, 166, 214);
}
.tech-back {
  background-color: rgb(250, 118, 29);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(221, 221, 221);
  flex-grow: 93;
  flex-basis: 0;
}

.home-nav {
  flex-grow: 1;
  background-color: lightgrey;
}

.core-nav {
  flex-grow: 3;
  background-color: skyblue;
}

.tech-nav {
  flex-grow: 3;
  background-color: rgb(247, 136, 46);
}

.contact-nav {
  flex-grow: 1;
  background-color: lightgrey;
}
