nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7%;
  font-size: 200%;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
  height: 100%;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(221, 221, 221);
  height: 93%;
}

.home-nav {
  flex-grow: 1;
  background-color: lightgrey;
}

.core-nav {
  flex-grow: 3;
  background-color: skyblue;
}

.tech-nav {
  flex-grow: 3;
  background-color: rgb(252, 133, 22);
}

.contact-nav {
  flex-grow: 1;
  background-color: lightgrey;
}
